<html>
<head>
<title>Dir Traversal Test Cases</title>
</head>
<body>

<h1>Dir Traversal Test Cases</h1>
<ul>
	<li>Download file: <a href="dirtraverse1?fn=test_file.txt">Download It Now</a>
	<li>Download file: <a href="dirtraverse2?fn=test_file.txt">Download It Now</a>
	<li>Download file: <a href="dirtraverse3?dn=test_dir&fn=test_file.txt">Download It Now</a>
	<li>Download file: <a href="dirtraverse4?fn=test_file">Download It Now</a>
	<li>Download file: <a href="dirtraverse5?fn=test_file">Download It Now</a>
	<li>Download file: <a href="dirtraverse6?fn=test_file">Download It Now</a>
	<li>Download file: <a href="dirtraverse7?fn=test_file">Download It Now</a>
	<li>Download file: <a href="dirtraverse8?fn=test_file.txt">Download It Now</a>
</ul>
</body>
</html>
